
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEnseignantLabel" data-translate="taagliApp.enseignant.home.createOrEditLabel">Create or edit a Enseignant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.enseignant.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.enseignant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="taagliApp.enseignant.nomEns" for="field_nomEns">Nom Ens</label>
            <input type="text" class="form-control" name="nomEns" id="field_nomEns"
                    ng-model="vm.enseignant.nomEns"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="taagliApp.enseignant.prenomEns" for="field_prenomEns">Prenom Ens</label>
            <input type="text" class="form-control" name="prenomEns" id="field_prenomEns"
                    ng-model="vm.enseignant.prenomEns"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="taagliApp.enseignant.telEns" for="field_telEns">Tel Ens</label>
            <input type="text" class="form-control" name="telEns" id="field_telEns"
                    ng-model="vm.enseignant.telEns"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="taagliApp.enseignant.mailEns" for="field_mailEns">Mail Ens</label>
            <input type="text" class="form-control" name="mailEns" id="field_mailEns"
                    ng-model="vm.enseignant.mailEns"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
